:root {
  /* Buttons */
  --action-button-text-color: #ffffff;
  --action-button-color: #1789E6;
  --action-button-hover-color: #45acff;

  --primary-button-text-color: #ffffff;
  --primary-button-color: #325075;
  --primary-button-hover-color: #065597;

  --secondary-button-text-color: #000000;
  --secondary-button-color: #d7d7d7;
  --secondary-button-hover-color: #adadad;

  --delete-button-text-color: #ffffff;
  --delete-button-color: #c13f3f;
  --delete-button-hover-color: #e94343;

  --disabled-button-text-color: #a1a1a1;
  --disabled-button-color: #d7d7d7;
}
